<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soo.md.mapper.ActivityMapper">
	<select id="selectPerPage" resultType="Activity" parameterType="ActivityVo">
	     <![CDATA[
	     select * from (select ROWNUM rnum, aa.* from (select * from ACTIVITY order by ANUM desc) aa)
	     where anum>#{startRow} and anum<=#{endRow}
	     ]]>
	</select>
	 <select id="selectSearchSubject" resultType="Activity" parameterType="ActivityVo">
		<![CDATA[
		select * from (select ROWNUM rnum, aa.* from (select * from Activity WHERE ANAME like '%'||#{surf}||'%' order by ANUM desc) aa) where rnum>#{startRow} and rnum<=#{endRow}  
		]]>
 	</select>
 	<select id="selectSearchContent" resultType="Activity" parameterType="ActivityVo">
 		<![CDATA[
 		select * from (select ROWNUM rnum, aa.* from (select * from Activity WHERE AINTRO like '%'||#{surf}||'%' order by ANUM desc) aa) where rnum>#{startRow} and rnum<=#{endRow}  
 		]]>
 	</select>
	<select id="selectBySeq" resultType="Activity" parameterType="long">
	     select * from Activity where ANUM=#{anum} 
	</select>
	<select id="selectCount" resultType="long">
	     select max(ROWNUM) from ACTIVITY
	</select>
	<select id="searchSelectSubjectCount" resultType="Integer">
 		select max(ROWNUM) from ACTIVITY where ANAME like '%'||#{surf}||'%'
 	</select>
 	<select id="searchSelectContentCount" resultType="Integer">
 		select max(ROWNUM) from ACTIVITY where AINTRO like '%'||#{surf}||'%' 
 	</select>
 	<select id="list" resultType="Activity">
 		select * from ACTIVITY order by ANUM desc
 	</select>
 	<update id="views" parameterType="long">
		update ACTIVITY set VIEWS = (SELECT (SELECT VIEWS FROM ACTIVITY WHERE ANUM = #{anum}) + 1 FROM dual) WHERE ANUM = #{anum}

	</update>
 	<select id="selectBySubject" resultType="Activity" parameterType="String">
 		select aname from ACTIVITY where aname like '%'||#{surf}||'%' group by ANAME order by ANAME
 	</select>
 	<select id="selectByContent" resultType="Activity" parameterType="String">
 		select aintro from ACTIVITY where aintro like '%'||#{surf}||'%' group by AINTRO order by AINTRO
 	</select>
 	<insert id="insert" parameterType="ActivityreviewVo">
 		insert into ACTIVITYREVIEW values(#{anum}, ARNUM_SEQ.nextval, #{writer}, SYSDATE, #{content})
 	</insert>
 	 <select id="select" resultType="ActivityreviewVo" parameterType="long">
 		select * from ACTIVITYREVIEW where anum = #{anum}
 	</select>
 	 <delete id="delete" parameterType="ActivityreviewVo">
 	 	delete from ACTIVITYREVIEW where arnum=#{arnum}
 	</delete>
 	
 	<select id="selectNick" parameterType="String" resultType="String">
		select NICKNAME from MEMBER where EMAIL = #{email}
	</select>
</mapper>