<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soo.md.mapper.HotelMapper">
	<select id="selectPerPage" resultType="Hotel" parameterType="HotelVo">
	     <![CDATA[
	     select * from (select ROWNUM rnum, aa.* from (select * from HOTEL order by HNUM desc) aa)
	     where hnum>#{startRow} and hnum<=#{endRow}
	     ]]>
	</select>
	 <select id="selectSearchSubject" resultType="Hotel" parameterType="HotelVo">
		<![CDATA[
		select * from (select ROWNUM rnum, aa.* from (select * from Hotel WHERE HNAME like '%'||#{surf}||'%' order by HNUM desc) aa) where rnum>#{startRow} and rnum<=#{endRow}  
		]]>
 	</select>
 	<select id="selectSearchContent" resultType="Hotel" parameterType="HotelVo">
 		<![CDATA[
 		select * from (select ROWNUM rnum, aa.* from (select * from Hotel WHERE HINTRO like '%'||#{surf}||'%' order by HNUM desc) aa) where rnum>#{startRow} and rnum<=#{endRow}  
 		]]>
 	</select>
	<select id="selectBySeq" resultType="Hotel" parameterType="long">
	     select * from Hotel where HNUM=#{hnum} 
	</select>
	<select id="selectCount" resultType="long">
	     select max(ROWNUM) from HOTEL
	</select>
	<select id="searchSelectSubjectCount" resultType="Integer">
 		select max(ROWNUM) from HOTEL where HNAME like '%'||#{surf}||'%'
 	</select>
 	<select id="searchSelectContentCount" resultType="Integer">
 		select max(ROWNUM) from HOTEL where HINTRO like '%'||#{surf}||'%' 
 	</select>
 	<select id="list" resultType="Hotel">
 		select * from HOTEL order by HNUM desc
 	</select>
 	<update id="views" parameterType="long">
		update HOTEL set VIEWS = (SELECT (SELECT VIEWS FROM HOTEL WHERE HNUM = #{hnum}) + 1 FROM dual) WHERE HNUM = #{hnum}
	</update>
 	<select id="selectBySubject" resultType="Hotel" parameterType="String">
 		select hname from HOTEL where hname like '%'||#{surf}||'%' group by HNAME order by HNAME
 	</select>
 	<select id="selectByContent" resultType="Hotel" parameterType="String">
 		select hintro from HOTEL where hintro like '%'||#{surf}||'%' group by HINTRO order by HINTRO
 	</select>
 	<insert id="insert" parameterType="HotelreviewVo">
 		insert into HOTELREVIEW values(#{hnum}, HRNUM_SEQ.nextval, #{writer}, SYSDATE, #{content})
 	</insert>
 	 <select id="select" resultType="HotelreviewVo" parameterType="long">
 		select * from HOTELREVIEW where hnum = #{hnum}
 	</select>
 	 <delete id="delete" parameterType="HotelreviewVo">
 	 	delete from HOTELREVIEW where hrnum=#{hrnum}
 	</delete>
 	
 	<select id="selectNick" parameterType="String" resultType="String">
		select NICKNAME from MEMBER where EMAIL = #{email}
	</select>
</mapper>