<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jejufriends.member.repository.SuspendRepository">
	<update id="suspendAccount" parameterType="Long">
		update member set enabled = 0 where idNumber = ${idNumber}
	</update>
	
	<update id="suspendAccountEnable" parameterType="Long">
		update member set enabled = 1 where idNumber = ${idNumber}
	</update>
	
	<update id="cautionAccount" parameterType="Long">
		update member set cautionCount =  cautionCount + 1 where idNumber = ${idNumber}
	</update>

	<select id="findMember" parameterType="Long" resultType="Member">
		select * from member where idNumber = ${idNumber}
	</select>
	
	<update id="cautionAccountMinus" parameterType="Long">
		update member set cautionCount = cautionCount - 1 where idNumber = ${idNumber}
	</update>

	<update id="cautionCount3Account" parameterType="Long">
		update member set cautionCount = 3 where idNumber = ${idNumber}
	</update>
	
	
	<update id="tabooContainsMemberForDefaultNickNameChange" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			 update member set nickname = 'defaultUser' || #{item.idNumber , jdbcType=NUMERIC} , cautionCount = cautionCount + 1 where idNumber = #{item.idNumber, jdbcType=NUMERIC}
	    </foreach>
	</update>
	
	<select id="tabooContainsMemberForDefaultNickNameChangeCaution3SuspendAccount" parameterType="java.util.List" resultType="TabooContainsMember">
		select * from member where  idNumber in
		<foreach collection="list" index="index" item="item" separator="," open="(" close=")">
			  #{item.idNumber, jdbcType=NUMERIC}
	    </foreach>
	</select>
	
</mapper>