<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jejufriends.member.repository.TabooRepository">

	<insert id="insertTaboo" parameterType="Taboo" >
		insert into tabooword values (TABOO_SEQ.nextval , #{tabooWordCheck} )
	</insert>

	<delete id="deleteTabooWord" parameterType="Integer">
		delete from tabooword where TABOOWORDNUMBER = ${tabooWordNumber}
	</delete> 
	
	<select id="tabooMemberfindAll" resultType="TabooContainsMember">
		select idnumber , email , nickname ,cautionCount , enabled from Member
	</select>
</mapper>